@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

body {
  font-family: "Ubuntu", sans-serif;
  margin: auto;
  width: 80%;
}
/* Navigation */

nav li {
  list-style: none;
  color: red;
  display: inline;
}
nav {
  background-color: #3b82f6;
  padding-top: 5px;
  border-bottom-left-radius: 20px;
  padding-bottom: 5px;
}
nav a,
footer a {
  color: white;
  text-decoration: none;
}
.nav-link {
  text-align: right;
  margin: 20px;
}
.nav-pills {
  text-align: right;
}
.nav-header {
  font-size: px;
  text-align: center;
  padding-left: 10px;
}
.pj {
  font-weight: bold;
  font-size: 20px;
}
.home:hover {
  color: black;
}
.bg:hover,
.pj:hover {
  color: black;
}

/* BODY PART */
.container {
  text-align: center;
}
h1 {
  margin: 100px auto;
  font-size: 40px;
}
span {
  color: #3b82f6;
}
/* Footer */

footer {
  background-color: #3b82f6;
  padding-bottom: 5px;
  color: white;
  border-top-right-radius: 20px;
}
.footer-head {
  padding: 10px;
  margin: 0;
}
footer li {
  display: inline;
}
.foot-list {
  text-align: center;
}

.foot-link {
  margin: 0 20px;
}
.foot-link:hover {
  color: black;
}
